.registry {
  @apply w-full flex flex-col;

  h3 {
    @apply mb-8;
  }

  &__iframe {
    @apply w-full flex flex-col;
    overflow: hidden;

    iframe {
      margin-top: -13rem;

      .btnViewOrBuy {
        @apply bg-black !important;
      }
    }
  }
}
